.cardContainer {
  width: 81rem;
  margin: auto;
  height: 48rem;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}

.imageContainer {
  background-image: url("../assets/joinUs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 100%;
  border-radius: 1rem 0rem 0rem 1rem;
}

.formContainer {
  padding: 2rem 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .cardContainer {
    width: 50rem;
  }
  .imageContainer {
    display: none;
  }
  .formContainer {
    width: 100%;
  }
}
